extends layout

block content
    h1= title
  
    hr

    h2 Materia: #{ eventos_materia.materia.materia }

    h3 Secciones:
    ul 
        each seccion in eventos_materia.secciones
            li 
                strong #{ seccion.seccion }

                
